<h1 class="">Please Log In </h1>
<hr>
<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <div class="well">

      <%= form_tag sessions_path do %>
      <div class="">
        <%= email_field_tag :email, nil, placeholder: "Email address", :class => "form-control" %>
      </div>
      <div class="">
        <%= password_field_tag :password, nil, placeholder: "Password", :class => "form-control" %>
      </div>
      <br>
      <%= submit_tag "Login", :class => "btn btn-lg btn-primary btn-block" %>
      <div class="checkbox">
        <a class="pull-right" href="#">Forgot password?</a>
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <h4> <%= link_to 'Sign up here', new_user_path %></h4>
      <% end %>
    </div>
  </div>
</div>
