<h1>Create a New User</h1>

<div class="row">
  <div class="col-md-4">
    <div class="well pull-left">

      <%= form_for(@user) do |f| %>

      <div class="">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div class="">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

        <%= f.submit %>
      <% end %>

    </div>
  </div>
</div>
