<!-- post index page -->

<div class="">
  <%= link_to 'New Blog Post', new_post_path(@post), :class => "btn btn-lg btn-primary pull-right"  %>
  <h1>Blogz <small>The best blogsite NA</small></h1>
  <% if user_signed_in? %>
    <h4>Welcome, <%= current_user.username %> </h4>
  <% end %>

  <hr>
</div>

<!-- featured post -->
<div class="container-fluid hidden-sm hidden-xs">
  <div class="row">
    <div class="col-md-8">

      <div class="featured_post">
        <img class="img_post" src="http://i2.cdn.turner.com/money/dam/assets/151222154733-nicolas-cage-nyc-780x439.jpg" alt="">
      </div>
      <div class="img_social">
        <a href="#"><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-comment-o fa-2x" aria-hidden="true"></i></a>
        <a href="#" class="pull-right"><i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i></a>
      </div>
      <h1><%= link_to @featured_post.title, post_path(@featured_post) %></h1>
      <p><%= @featured_post.body %></p>

    </div>

<!-- sidepost -->
    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Nicolas Cage Speaks Against Fibonacci</h5>
            <small>1 hour ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Tips for BBQ Season</h5>
              <small class="text-muted">2 hours ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Illuminati exposed</h5>
              <small class="text-muted">2 hours ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Obama Still Cares</h5>
              <small class="text-muted">48 min ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
        </div>
      </div>

    </div>
    <hr>
  </div>  <!-- end of hidden on sm  -->

<!-- all posts list -->
    <% @posts.each_slice(3) do |rows|  %>
      <div class="row">
        <% rows.each do |post|  %>
          <div class="col-sm-4">
            <div class="img_container">
              <img class="img_post" src="https://s3.drafthouse.com/images/made/12439707_9414869_pm_758_426_81_s_c1.jpg" alt="">
              <div class="img_social">
                <a href="#"><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-comment-o fa-2x" aria-hidden="true"></i></a>
                <a href="#" class="pull-right"><i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i></a>
              </div>
            </div>
            <small class='pull-right'>Posted by:
              <%= post.user.username %>
            </small>
            <h2><%= link_to post.title, post_path(post) %></h2>
            <p><%= post.body %></p>
          </div>
        <% end %>
      </div>
    <% end %>
