<h1>Contact</h1>
<hr>
<div class="row">
  <div class="col-md-6">

  <div class="well">
    <h3>Administrative Contact</h3>
    <p><strong>Email: </strong>admin@blogz.com</p>
    <p><strong>Phone: </strong>1-866-888-8899</p>
    </div>

    <div class="well">
      <h3>Marketing Contact</h3>
      <p><strong>Email: </strong> marketing@blogz.com</p>
    </div>

    <div class="well">
      <h3>Support Contact</h3>
      <p><strong>Email: </strong>techsupport@blogz.com</p>
      <p><strong>Phone: </strong>1-866-444-4242</p>
    </div>
  </div>

  <div class="col-md-6">
  <h3>Submit a Ticket</h3>
  <p class='text-muted'>Please fill out the fields and provide a brief summary of your ticket request.</p>
  <%= form_tag contact_path, :html => {:class => "form-group col-md-6"}  do %>
  <div class="">
    <%= label_tag :name %>
    <%= text_field_tag :name, nil, class: "form-control" %>
  </div>
  <div class="">
    <%= label_tag :email %>
    <%= email_field_tag :email, nil, class: "form-control" %>
  </div>
  <div class="">
    <%= label_tag :message %>
    <%= text_area_tag :message, nil, class: "form-control" %>
  </div>
  <br />
  <%= submit_tag 'Submit', class: "btn btn-primary pull-right"  %>
  <% end %>

  </div>
</div>
